@{
    ViewData["Title"] = "LoginSuccess";
}

<h1>Inloggad</h1>


<body>
    <p>Inloggningen lyckades, Denna flik bör stängas automatiskt inom några sekunder, <br />
    annars kan du stänga fliken och återgå till föregående flik och slutföra inloggningen</p>
</body>